name: Stylua

on:
  push:
    paths:
      - '**.lua'
  pull_request:
    types:
      - opened
    paths:
      - '**.lua'

jobs:
  stylua_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run StyLua
        uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          # CLI arguments
          args: --check .
