name: Testing
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test.yml
      - lua/*.lua
      - lua/triforce/*.lua
      - lua/triforce/ui/*.lua
      - spec/*.lua
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/test.yml
      - lua/*.lua
      - lua/triforce/*.lua
      - lua/triforce/ui/*.lua
      - spec/*.lua
    types:
      - opened
      - ready_for_review
jobs:
  busted:
    name: Run Tests using Busted
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Lua
        uses: leafo/gh-actions-lua@v12
      - name: Install LuaRocks
        uses: leafo/gh-actions-luarocks@v6
      - name: Install Dependencies
        run: |
          luarocks install luassert
          luarocks install nlua
      - name: Extend PATH
        run: |
          echo "$(luarocks path --lr-bin)" >> $GITHUB_PATH
      - name: Run Busted
        uses: lunarmodules/busted@v2.2.0
