# GitHub Actions example
name: Run vim-eof-comment
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
    branches:
      - main
permissions:
  contents: write
jobs:
  vim_eof_comment:
    name: vim-eof-comment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.10'
      - name: Install pipenv
        run: |
          python -m pip install -U pip
          pip install pipenv
      - name: Install vim-eof-comment
        run: |
          pipenv install --dev vim-eof-comment
      - name: Run vim-eof-comment
        run: |
          pipenv run vim-eof-comment -e lua,md,Makefile,yaml,toml -i lua:2:Y,md:2:Y -v .
